@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

.App {
  text-align: center;
  
}
body {
  background: linear-gradient(90deg, rgba(51,118,132,1) 0%, rgba(96,9,171,1) 50%, rgba(51,118,132,1) 100%); 
}




/* main container styling*/
.main-cont {
  background-color: #282c34;
  margin: 0 auto;
   width: 550px;
   position: relative;
   top: 100px;
   border-radius: 1%;
   color: aliceblue;

}


/* header compoenent styling */
.head-cont {
  align-items: center;
}

.head-cont input {
  width: 60%;
  margin-top: 2rem;
  margin-right: 1rem;
  padding: 0.3rem;
}

.head-cont input::placeholder {
  text-align: center;
  font-weight: bold;
}

.add-button {
  width: 105px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;  
}

.add-button:active {
  
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

/* list component styling */

.list-cont li {
  font-size: 1.2rem;
  width: 80%;
  text-align: center;
  color: #282c34;
  word-wrap: break-word;
  font-family: 'Tilt Neon', cursive;
}



ul{
  list-style-type: none;
  padding-bottom: 1rem;
}
 

input:checked + label{
  opacity: 0.5;
  text-decoration: line-through;

   }

.liInput {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 0.2rem;
  margin-right: 0.1rem;
}





label {
  background-color: aliceblue;
  border-radius: 2%;
  cursor: pointer;
  margin-right: 0.2rem;
  padding: 0 5px 2px 5px; 
}

.killerButton {
  
  
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  border-radius: 50%;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 1px 1px 0px 0px, 1px 1px 0px 0px, 2px 2px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;  

}


.killerButton:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}


/* footer component styling */

.foot-cont {
  background-color: aliceblue;
  height: 80px;
  border-radius: 1%;
  color: #282c34;
}

.buttons-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  height: 25px;
}

.buttons-cont button {
  width: 105px;
  margin-top: 1rem;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;  
}

.buttons-cont button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}
